@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgb(6, 6, 9);
    display: flex;
    flex-direction: column;
}
* a {
    text-decoration: none;
}
.scroll-target, .flex-child {
    filter: blur(10px);
    transform: translateY(100px);
    opacity: 0;
    transition: 1s ease !important;
}
.starter {
    filter: blur(10px);
    transform: translateY(60px);
    opacity: 0;
    transition: 1s ease !important;
}
:root {
    --primary: #007009;
}
.width {
    width: 1400px;
    max-width: calc(100% - 60px);
}




/*/////////////////////// HEADER ///////////////////////*/
.header {
    margin: 0 auto;
    padding: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-name {
    width: 130px;
    font-family: "Oswald", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 36px;
}
.header-nav {
    display: flex;
    gap: 40px;
}
.header-link {
    font-size: 15px;
    color: hsl(0, 0%, 80%);
}
.button {
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease;
}
.button img {
    height: 11px;
    width: auto;
}
.button:hover {
    background-color: hsl(125, 100%, 42%);
}
/*//////////////////////////////////////////////////////*/

/*/////////////////////// HEADER ///////////////////////*/
.hero-img {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.hero-img img {
    position: relative;
    z-index: 0;
    height: 100%;
    width: auto;
    opacity: 0.65;
}
.hero-img .hero-bg {
    width: 1920px;
    height: auto;
}
.hero-light {
    z-index: 1;
    position: absolute;
    top: 0;
}
.hero-light-left {
    left: 0;
}
.hero-light-right {
    right: 0;

}
.hero-container {
    height: calc(100vh - 83px);
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-left {
    padding-bottom: 100px;
}
.hero-title {
    font-size: 125px;
    font-weight: 700;
    color: white;
    line-height: 0.95;
}
.hero-para {
    width: 620px;
    margin: 20px 0 24px;
    font-size: 18px;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
}
.hero-btn-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.hero-btn-contact {
    background-color: hsl(0, 0%, 10%);
    border: 1px solid hsl(0, 0%, 15%);
}
.hero-right {
    display: flex;
    flex-direction: column;
}
.hero-right-img {
    width: 390px;
    height: auto;
}
.hero-right-img img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.hero-right-ul {
    display: flex;
    display: none;
    flex-direction: column;
    gap: 12px;
}
.hero-right-head {
    margin: 38px 0 10px;
    font-size: 19px;
    font-weight: 600;
    color: white;
}
.hero-right-link {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 17px;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.6);
    transition: 0.3s ease;
}
.hero-right-link img {
    filter: invert(0.4);
    height: 14px;
    width: auto;
    transform: rotate(-45deg);
    transition: 0.3s ease;
}
.hero-right-link:hover {
    color: hsla(0, 0%, 90%, 1);
    gap: 30px;
}
.hero-right-link:hover img {
    filter: invert(0);
}
/*//////////////////////////////////////////////////////*/

/*/////////////////////// ABOUT ME ///////////////////////*/
.about-container {
    margin: 80px auto 90px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.about-img {
    flex-shrink: 0;
    height: 750px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
}
.about-img img {
    width: 100%;
    height: auto;
}
.about-video {
    width: 100%;
    height: auto;
}
.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-title {
    margin: 22px 0 18px;
    font-size: 68px;
    line-height: 1.05;
    color: white;
    font-weight: 600;
}
.about-para {
    width: 100%;
    font-size: 18px;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
}
.about-para span {
    color: hsl(125, 100%, 42%);
}
.about-btn {
    margin-top: 22px;
    align-self: flex-start;
}
/*/////////////////////////////////////////////////////////*/

/*/////////////////////// WHY CHOOSE ME ///////////////////////*/
.why-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.eyebrow {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    color: white;
}
.eyebrow span {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(199, 210, 254, 0.5));
    height: 1px;
    width: 40px;
}
.eyebrow span.eyebrow-right {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(199, 210, 254, 0.5));
}
.eyebrow-center {
    align-self: center;
}
.why-title {
    margin: 22px 0 18px;
    font-size: 68px;
    line-height: 1.05;
    color: white;
    font-weight: 600;
}
.why-para {
    width: 550px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
}
.why-col {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.why-flex {
    width: 100%;
    display: flex;
    gap: 20px;
}
.why-wrapper {
    overflow: hidden;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 46px 10px;
}
i.why-icon {
    z-index: 1;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 15%);
    border: 1px solid hsl(0, 0%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
}
.why-head {
    z-index: 1;
    position: relative;
    margin: 35px 0 30px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.why-txt {
    z-index: 1;
    position: relative;
    width: 350px;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.55;
    color: hsl(0, 0%, 80%);
}
.why-btn {
    align-self: center;
    margin-top: 40px;
}
.why-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.why-glow-tl {
    background: radial-gradient(
        60% 50% at 15% 15%,
        hsla(125, 100%, 22%, 0.18) 0%,
        rgba(5, 179, 112, 0.00) 100%
    ),
    hsl(0, 0%, 7%);
}
.why-glow-tr {
    background: radial-gradient(
        60% 50% at 85% 15%,
        hsla(125, 100%, 22%, 0.18) 0%,
        rgba(5, 179, 112, 0.00) 100%
    ),
    hsl(0, 0%, 7%);
}
.why-glow-bl {
    background: radial-gradient(
        60% 50% at 15% 85%,
        hsla(125, 100%, 22%, 0.18) 0%,
        rgba(5, 179, 112, 0.00) 100%
    ),
    hsl(0, 0%, 7%);
}
.why-glow-mid {
    background: radial-gradient(
        50% 50% at 50% 50%,
        hsla(125, 100%, 22%, 0.11) 0%,
        rgba(5, 179, 112, 0.00) 100%
    ),
    hsl(0, 0%, 7%);
}
/*/////////////////////////////////////////////////////////////*/

/*/////////////////////// PROGRAMME SECTION ///////////////////////*/
.pro-container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pro-title {
    margin: 20px 0 22px;
    font-size: 68px;
    line-height: 1.05;
    color: white;
    font-weight: 600;
}
.pro-para {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
}
.pro-letter {
    margin: 20px auto 0;
    width: 450px;
    border-radius: 8px;
    height: 45px;
    display: flex;
    background-color: hsl(0, 0%, 10%);
}
.pro-letter input {
    padding-right: 10px;
    text-align: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: hsl(0, 0%, 80%);
}
.pro-letter-btn {
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 8px;
    border-top-left-radius: 0;
    height: 100%;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease;
}
.pro-flex {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 65px;
}
.pro-left {
    flex-shrink: 0;
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.pro-wrapper {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    max-height: 82px;
    overflow: hidden;
    background-color: hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 12%);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease;
}
.pro-wrapper-active {
    pointer-events: none;
    max-height: 200px;
    background: radial-gradient(
        60% 50% at 15% 15%,
        hsla(125, 100%, 22%, 0.25) 0%,
        rgba(5, 179, 112, 0.00) 100%
    ),
    hsl(0, 0%, 7%);
}
.pro-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro-head {
    font-size: 20px;
    font-weight: 500;
    color: white;
}
i.pro-chev {
    background-color: hsl(0, 0%, 15%);
    border: 1px solid hsl(0, 0%, 20%);
    width: 40px;
    height: 40px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}
i.pro-chev:hover {
    background-color: hsl(0, 0%, 10%);
}
.pro-txt {
    text-align: left;
    margin-top: 20px;
    font-size: 15px;
    color: hsl(0, 0%, 80%);
    line-height: 1.6;
    width: 100%;
}
.pro-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-height: 732px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.pro-img img {
    border-radius: 10px;
    width: 100%;
    height: auto;

}

.pay-flex {
    margin-top: 50px;
    width: 100%;
    height: 490px;
    display: flex;
    gap: 30px;
    text-align: left;
}
.pay-wrapper {
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 15px;
}
.pay-left {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.pay-head {
    font-size: 28px;
    font-weight: 500;
    color: white;
}
.pay-left-para {
    margin: 12px 0 18px;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
}
.pay-left-btn {
    align-self: flex-start;
    margin-bottom: auto;
}
.pay-faq-wrapper {
    margin-top: 15px;
    width: 100%;
    padding: 22px 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsl(0, 0%, 10%);
    border: 1px solid hsl(0, 0%, 17%);
    border-radius: 8px;
}
.pay-faq-head {
    font-size: 24px;
    font-weight: 500;
    color: white;
    line-height: 1;
}
.pay-faq-txt {
    margin-top: 18px;
    font-size: 15px;
    color: hsl(0, 0%, 80%);
    line-height: 1;
}

.pay-right {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.pay-right-price {
    font-family: "Poppins", sans-serif;
    margin: 18px 0 30px;
    line-height: 1;
    font-size: 68px;
    font-weight: 500;
    color: white;
}
.pay-right-hr {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, hsl(0, 0%, 22%), transparent);
}
.pay-right-flex {
    margin: 34px 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.pay-right-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.pay-right-li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 17px;
    color: hsl(0, 0%, 80%);
}
.pay-right-li span {
    background-color: hsl(0, 0%, 80%);
    width: 6px;
    height: 6px;
    border-radius: 200px;
}
.pay-low-flex {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 24px;
}
.pay-right-btn {
    align-self: flex-start;
    font-size: 17px;
    padding: 14px 20px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    background: linear-gradient(to left, hsl(125, 100%, 12%), hsl(125, 100%, 42%));
}
.pay-low-label {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 60%);
}
.pay-low-email {
    font-size: 16px;
    color: white;
}
/*/////////////////////////////////////////////////////////////////*/

/*/////////////////////// FREE CONTENT SECTION ///////////////////////*/
.free-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.free-title {
    margin: 22px 0 18px;
    font-size: 68px;
    line-height: 1.05;
    color: white;
    font-weight: 600;
}
.free-para {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
}
.free-col {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.free-flex {
    width: 100%;
    display: flex;
    gap: 20px;
}
.free-wrapper {
    z-index: 1;
    width: 100%;
    height: 500px;
    padding: 24px 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 15px;
    overflow: hidden;
}
.free-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(12px);
}
.free1 {
  background:
  radial-gradient(
    600px circle at 30% 20%,
    rgba(120, 120, 255, 0.14),
    rgba(120, 120, 255, 0.04) 40%,
    transparent 60%
  ),
  radial-gradient(
    600px circle at 80% 80%,
    rgba(255, 120, 200, 0.12),
    rgba(255, 120, 200, 0.03) 40%,
    transparent 60%
  ),
  #0f1115;
}
.free2 {
    background:   radial-gradient(
    600px circle at 30% 25%,
    rgba(80, 220, 200, 0.14),
    rgba(80, 220, 200, 0.04) 40%,
    transparent 60%
  ),
  radial-gradient(
    600px circle at 75% 80%,
    rgba(80, 160, 255, 0.11),
    rgba(80, 160, 255, 0.03) 40%,
    transparent 60%
  ),
  #0c1212;
}
.free3 { 
    background:   radial-gradient(
    600px circle at 25% 15%,
    rgba(90, 140, 255, 0.15),
    rgba(90, 140, 255, 0.04) 40%,
    transparent 60%
  ),
  radial-gradient(
    600px circle at 85% 85%,
    rgba(170, 130, 255, 0.12),
    rgba(170, 130, 255, 0.03) 40%,
    transparent 60%
  ),
  #0e1016;
}
.free4 {
background:
  radial-gradient(
    600px circle at 26% 20%,
    rgba(150, 120, 255, 0.13),
    rgba(150, 120, 255, 0.035) 40%,
    transparent 60%
  ),
  radial-gradient(
    600px circle at 82% 85%,
    rgba(110, 100, 140, 0.08),
    rgba(110, 100, 140, 0.025) 40%,
    transparent 60%
  ),
  #0f0e14;
}
.free5 {
background:
  radial-gradient(
    600px circle at 30% 20%,
    rgba(255, 190, 120, 0.14),
    rgba(255, 190, 120, 0.04) 40%,
    transparent 60%
  ),
  radial-gradient(
    600px circle at 80% 80%,
    rgba(200, 170, 120, 0.09),
    rgba(200, 170, 120, 0.03) 40%,
    transparent 60%
  ),
  #11100d;
}
.free6 {
background:
  radial-gradient(
    600px circle at 30% 18%,
    rgba(90, 120, 255, 0.14),
    rgba(90, 120, 255, 0.04) 40%,
    transparent 60%
  ),
  radial-gradient(
    600px circle at 80% 82%,
    rgba(120, 110, 255, 0.10),
    rgba(120, 110, 255, 0.03) 40%,
    transparent 60%
  ),
  #0b0e18;
}
i.free-icon {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: hsl(0, 0%, 20%);
    font-size: 20px;
}
.free-btn {
    position: relative;
    z-index: 1;
    align-self: center;
}
/*////////////////////////////////////////////////////////////////////*/

/*/////////////////////// TESTIMONIALS SECTION ///////////////////////*/
.res-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.res-title {
    margin: 22px 0 18px;
    font-size: 68px;
    line-height: 1.05;
    color: white;
    font-weight: 600;
}
.res-para {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
}
.res-bento {
    text-align: left;
    height: 730px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 25px;
}
.res-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 12%);
    padding: 25px 20px;
}
.res-wrapper-light {
    background: radial-gradient(
        60% 50% at 100% 100%,
        hsla(125, 100%, 22%, 0.18) 0%,
        rgba(5, 179, 112, 0.00) 100%
    ),
    hsl(0, 0%, 7%);
}
.res-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.res-flex {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 25px;
}
.res-num {
    font-size: 42px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.res-stat {
    font-size: 19px;
    font-weight: 500;
    color: hsl(0, 0%, 80%);
}
.res-stat span {
    margin-right: 15px;
    font-size: 32px;
    font-weight: 500;
    color: white;
}
.res-quote {
    margin: 22px 0 15px;
    color: var(--primary);
    font-size: 22px;
}
.res-txt {
    width: 100%;
    font-size: 17px;
    line-height: 1.5;
    color: hsl(0, 0%, 80%);
}
.res-info {
    margin-top: auto;
}
.res-name {
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.res-date {
    margin-top: 8px;
    font-size: 14px;
    color: hsl(0, 0%, 80%);

}
.tra-flex {
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 50px;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 1%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 99%);
}
.tra-img {
    height: 400px;
    width: auto;
    animation: slideTest 40s linear infinite;
}
.tra-img img {
    height: 100%;
    width: auto;
}
@keyframes slideTest {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-2460px);
    }
}
/*////////////////////////////////////////////////////////////////////*/

/*/////////////////////// CTA WRAPPER ///////////////////////*/
.cta-container {
    margin: 100px auto 0;
    padding: 160px 0;
    border-radius: 20px;
    background: linear-gradient(to right, #002504 2%, #007009, #007009, #002504 98%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta-title {
    font-size: 64px;
    line-height: 1.05;
    color: white;
    font-weight: 600;
    margin-bottom: 42px;
}
.btn-cta {
    background-color: hsl(0, 0%, 10%);
    border: 1px solid hsl(0, 0%, 15%);
}
/*///////////////////////////////////////////////////////////*/

/*/////////////////////// FOOTER SECTION ///////////////////////*/
.foot-bg {
    position: relative;
    background-color: hsl(0, 0%, 10%);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 80px 0 40px;
    margin-top: 120px;
}
.foot-container {
    margin: 0 auto;
    width: 1400px;
    max-width: calc(100% - 70px);
}
.foot-top {
    padding-bottom: 50px;
    border-bottom: 1px solid hsl(0, 0%, 30%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ftop-left {
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.foot-colab {
    display: flex;
    align-items: center;
    gap: 10px;
}
.colab-dot {
    width: 8px;
    height: 8px;
    border-radius: 200px;
    background-color: hsl(0, 0%, 50%);
}
.colab-txt {
    color: hsl(0, 0%, 80%);
    font-size: 17px;
}
.foot-title {
    width: 700px;
    margin-top: 22px;
    font-weight: 500;
    letter-spacing: -.5px;
    color: white;
    font-size: 48px;
    line-height: 1.25;
}
.btn-foot {
    margin-top: 30px;
    align-self: flex-start;
}
.foot-arrow {
    margin-left: 12px;
    height: 22px;
    width: auto;
    filter: invert(1);
    transition: 0.2s ease;
}
.calender {
    width: 450px;
    height: 500px;
    max-width: 100%;
}
.ftop-right {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.foot-label {
    font-weight: 500;
    color: hsl(0, 0%, 70%);
    font-size: 16px;
    margin-bottom: 6px;
}
a.foot-txt:hover {
    text-decoration: underline;
}
.foot-txt {
    color: white;
    font-size: 16px;
}
.foot-bot {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fbot-left {
    opacity: 1;
}
.foot-para {
    color: white;
    font-size: 18px;
    width: 500px;
    line-height: 1.6;
    margin-bottom: 40px;
}
.foot-social-flex {
    margin-top: 15px;
    display: flex;
    gap: 14px;
}
.foot-social {
    width: 50px;
    height: 50px;
    border-radius: 200px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.foot-social-icon {
    color: white;
    font-size: 22px;
    transition: 0.3s ease;
}
.foot-nav {
    display: flex;
    gap: 140px;
}
.foot-nav-col {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.foot-copy {
    width: 100%;
    padding-top: 16px;
    font-size: 14px;
    border-top: 1px solid hsl(0, 0%, 30%);
    color: hsl(0, 0%, 70%);
    text-align: left;
}
.foot-img-container {
    pointer-events: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 1400px;
}
.foot-img {
    display: block;
    width: 100%;
    height: auto;
}
/*//////////////////////////////////////////////////////////////*/

.mobile-hero {
    display: none;
}

.book-modal {
    z-index: 99;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
#pdfModal, #accessModal {
    opacity: 0;
    pointer-events: none;
}
.book-wrapper {
    text-align: center;
    background-color: hsl(0, 0%, 9%);
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 8px;
    padding: 28px 24px;
    max-width: calc(100% - 30px);
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
i.book-modal-check {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    height: 80px;
    width: 80px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
    font-size: 32px;
}
.book-modal-title {
    margin-top: 50px;
    line-height: 1;
    font-size: 32px;
    font-weight: 500;
    color: white;
}
.book-modal-para {
    margin-top: 18px;
    font-size: 16px;
    color: hsl(0, 0%, 70%);
    line-height: 1.75;
}
.btn-book-modal {
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--primary);
    color: white;
    padding: 12px 0;
    border-radius: 8px;
    transition: 0.2s ease;
}
#emailInput, #freeInput {
    margin-top: 24px;
    width: 100%;
    border-radius: 8px;
    background-color: hsl(0, 0%, 15%);
    padding: 12px 18px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
}




@media only screen and (max-width: 1600px){
    .hero-light-left {
        left: -200px;
    }
    .hero-light-right {
        right: -200px;
    }
}
@media only screen and (max-width: 1250px){
    .about-container {
        flex-direction: column;
        width: 700px;
        gap: 40px;
    }
    .about-img {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .hero-left {
        padding-bottom: 140px;
    }
    .hero-right {
        display: none;
    }
    
    .pro-left {
        width: 100%;
    }
    .pro-img {
        display: none;
    }

    .res-bento {
        height: auto;
        flex-direction: column;
    }
    .res-info {
        margin-top: 60px;
    }

    .pro-container {
        width: 900px;
    }
    .pay-flex {
        height: auto;
        flex-direction: column;
        gap: 20px;
    }
    .pay-left-btn {
        margin-bottom: 20px;
    }
    .pay-low-flex {
        margin-top: 35px;
    }

    .foot-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding-bottom: 50px;
    }
    .ftop-right {
        display: none;
    }
}
@media only screen and (max-width: 1100px){
    .header-nav {
        display: none;
    }
    .hero-title {
        font-size: 64px;
    }

    .why-container {
        width: 700px;
    }
    .why-flex {
        flex-direction: column;
    }

    .free-flex {
        flex-direction: column;
    }
    
    .foot-bg {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .foot-bot {
        padding: 50px 0;
    }
    .ftop-right {
        display: none;
    }
    .colab-dot {
        width: 7px;
        height: 7px;
    }
    .colab-txt {
        font-size: 15px;
    }
    .foot-title {
        font-size: 32px;
        line-height: 1.3;
        width: 455px;
    }
    .btn-foot {
        width: 205px;
        font-size: 15px;
    }
    .foot-arrow {
        height: 21px;
    }
    .foot-para {
        font-size: 15px;
        line-height: 1.85;
        width: 398px;
        margin-bottom: 35px;
        max-width: 100%;
    }
    .foot-social {
        width: 45px;
        height: 45px;
    }
    .foot-social-icon {
        font-size: 18px;
    }
    .foot-label {
        font-size: 15px;
    }
    .foot-txt {
        font-size: 14px;
    }
    .foot-copy {
        font-size: 13px;
    }
    .foot-nav {
        gap: 80px;
    }
}
@media only screen and (max-width: 925px){
    .foot-bot {
        flex-direction: column;
        gap: 40px;
    }
    .foot-nav {
        gap: 0px;
        width: 320px;
        max-width: 100%;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 700px){
    .hero-img {
        opacity: 0.45;
    }
    .mobile-hero {
        display: block;
    }
    .hero-bg {
        display: none;
    }
    .desktop-grid {
        display: none;
    }
    .width {
        max-width: calc(100% - 20px);
    }
    .header {
        padding-top: 20px;
    }
    .header-name {
        font-size: 26px;
    }
    .hero-title {
        font-size: 44px;
        line-height: 1.25;
    }
    .hero-para {
        width: 100%;
        max-width: 420px;
        font-size: 14px;
    }
    .button {
        font-size: 15px;
    }
    .button img {
        height: 10px;
    }
    .hero-btn-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .hero-btn {
        order: 2;
    }
    .hero-btn-contact {
        order: 1;
    }
    .hero-light-right {
        right: -280px;
    }
    .hero-light-left {
        display: none;
    }
    .hero-left {
        text-align: center;
        align-items: center;
    }
    .hero-btn-flex {
        align-items: center;
    }
    .hero-btn-contact {
        display: none;
    }
    .header-btn {
        padding: 10px 15px;
        font-size: 14px;
    }

    .about-title {
        font-size: 42px;
        line-height: 1.15;
    }
    .about-para {
        font-size: 16px;
    }

    .eyebrow {
        font-size: 14px;
    }
    .why-title, .free-title {
        font-size: 40px;
        line-height: 1.15;
    }
    .why-para, .free-para {
        width: 100%;
        max-width: 410px;
        font-size: 15px;
    }
    .why-col {
        margin-top: 40px;
    }
    .why-btn {
        margin-top: 35px;
    }

    .pro-title {
        font-size: 40px;
        line-height: 1.15;
    }
    .pro-para {
        width: 100%;
        max-width: 410px;
        font-size: 15px;
    }
    .pro-flex {
        margin-top: 40px;
    }

    .res-title {
        font-size: 38px;
        line-height: 1.15;
    }
    .res-para {
        width: 100%;
        max-width: 410px;
        font-size: 15px;
    }
    .res-flex, .res-bento, .res-col {
        flex-direction: column;
        gap: 15px;
    }
    .tra-flex {
        gap: 30px;
    }
    .tra-img {
        animation: slideTest 25s linear infinite;
        height: 200px;
    }
    @keyframes slideTest {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-918px);
        }
    }

    .cta-container {
        margin-top: 70px;
    }
    .cta-title {
        font-size: 26px;
        line-height: 1.2;
    }

    .pro-letter {
        max-width: 100%;
    }
    .pro-letter input {
        font-size: 14px;
    }
    .pro-letter-btn {
        padding: 0 18px;
        font-size: 13px;
    }

    .pay-wrapper {
        padding: 24px 15px;
    }
    .pay-right-mobile {
        display: none;
    }
    .pay-right-li {
        padding-left: 10px;
    }
    .pay-low-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .pay-head {
        font-size: 24px;
    }
    .pay-right-price {
        font-size: 58px;
    }
    .pay-left {
        order: 2;
    }
    .pay-right {
        order: 1;
    }
    .pay-faq-wrapper {
        display: none;
    }
    .pay-left-btn {
        margin-bottom: 0;
    }

    .foot-bg {
        margin-top: 60px;
        padding-top: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .foot-container {
        max-width: calc(100% - 30px);
    }
    .foot-title {
        font-size: 24px;
        line-height: 1.5;
        width: 350px;
    }
}
@media only screen and (max-width: 388px){
    .button {
        font-size: 14px;
        padding: 12px 20px;
    }
}